<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom ">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="navbar-brand" href="">Little BookShop</a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3 ">
    <a class="p-2 text-dark" href=""> <i class="fa fa-heart" aria-hidden="true"></i></a>
    <a class="p-2 text-dark" href=""> <i class="fas fa-shopping-cart" aria-hidden="true"></i></a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
