<div class="list-group container">
  <div *ngIf="(items$ | async).length === 0" class="alert alert-info">Your Cart is Empty.</div>
</div>

<div class="list-group container">
  <div *ngIf="(items$ | async).length > 0 && (totalPrice$|async)>=100" class="alert alert-danger">For purchases over 100
    &euro; you have a 10% discount.</div>
</div>


<ul class="list-group container" *ngIf="(items$ | async).length != 0">

  <li class="list-group-item" *ngFor="let item of items$ | async; let index = index">
    <div class="cart-item">

      <!-- Title -->
      <div class="row">
        <div class="col-md-8">
          <span>
            <strong class="d-inline">{{item.title}} - </strong>
          </span>
          <span class="d-inline">{{item.author}}</span>
        </div>
        <div class="col-md-2 text-right">
          <button class="btn trash" (click)="deleteProductFromCart(item,index)"><i class="fas fa-times"></i></button>
          <!-- <button class="btn" (click)="deleteProductFromCart(item,index)"><i class="fas fa-trash-alt"></i></button> -->
        </div>
      </div>
      <!-- Title -->

      <!-- Quantity-Price -->
      <div class="row">

        <div class="col ">
          <div class="row quantity d-inline">
            <button class="btn btn-sm" type="button" name="button" (click)="reduceProductFromCart(item,index)">
              <i class="fas fa-minus"></i>
            </button>
            <span>{{item.quantityToBuy}}</span>
            <button class="btn btn-sm" type="button" name="button" (click)="addProductToCart(item)">
              <i class="fas fa-plus"></i>
            </button>
            <!-- <input type="text" name="name" value="1"> -->
          </div>
        </div>

        <div class="col">
          <strong>{{ item.price*item.quantityToBuy |currency: 'EUR':'symbol':undefined:'el-GR' }}</strong>
        </div>
      </div>
      <!-- Quantity-Price -->

    </div>
  </li>

  <li class="list-group-item active">
    <div class="row">
      <div class="col d-inline">
        <strong>Total</strong>
      </div>
      <div class="col text-right">
        <div *ngIf="(totalPrice$|async)>100">
          <del class="ml-3">{{ totalPrice$ | async | currency: 'EUR':'symbol':undefined:'el-GR' }}</del>
        </div>
        <strong>{{ totalPriceWithDiscount$ | async | currency: 'EUR':'symbol':undefined:'el-GR' }}</strong>
      </div>
    </div>
  </li>

  <!-- <button class="btn  btn-info">
    <li class="list-group-item ">
      <h5 class=" text-center">Buy <i class="fas fa-shopping-basket"></i></h5>
    </li>
  </button> -->


  <button class="list-group-item btn  btn-success active" (click)="buy()">
    <h5 class="text-center">Buy &nbsp;<i class="fas fa-shopping-basket"></i></h5>
  </button>

</ul>
